<div class="row">
    <div class='col-xl-12'>
        <ba-card title="{{tournament.name}}" baCardClass="with-scroll">
            <p>Místo konání: {{tournament.location}}</p>
            <p>Datum: {{tournament.date|date}}</p>
            <div *ngFor='let team of rights' style='display: inline;' [hidden]='server.isAdminMenu()'>
                <button title='Exportovat do PDF' class='btn btn-warning btn-raised btn-with-icon' (click)='pdf(team)'><i class='ion-ios-download'></i>PDF Soupiska {{team|team}}</button>
            </div>
            <button [disabled]='pdfInProcess' *ngIf='server.isAdminMenu()' title='Exportovat do PDF' class='btn btn-warning btn-raised btn-with-icon' (click)='pdf()'><span [hidden]='pdfInProcess'><i [hidden]='!pdfInProcess' class='fa fa-spin fa-circle-o-notch'></i><i class='ion-ios-download'></i>Generuj všechny soupisky</span></button>
        </ba-card>
    </div>
</div>
<div class="row">
    <div [ngClass]='colClass' *ngFor='let division of divisions'>
        <div *ngIf='division.rosters'>
            <ba-card title="{{division.division_id|division}} ({{division.rosters.length}})" baCardClass="with-scroll">
                <div *ngIf='!server.isAdminMenu() && futureTournament()'>
                    <div *ngIf='division.userRosters.length>0'>
                        <h4>Moje týmy</h4>
                        <div *ngFor='let team of division.userRosters;let team_id = index;' style='display: inline;'>
                            <div *ngFor='let r of team;let i = index;' style='display: inline;'>
                                <button (click)="roster(r)" class="btn btn-info btn-with-icon"><i class="ion-edit"></i>{{r.team_id|team}} {{i|teammark}}</button>
                            </div>
                        </div>
                    </div>
                    <div style='margin-top: .5em;'>
                        <div *ngFor='let team of rights' style='display: inline;'>
                            <button (click)="roster(division,team)" class="btn btn-success btn-with-icon"><i class="ion-plus"></i>Přidat tým {{team|team}}</button>
                            <hr />
                        </div>
                    </div>
                </div>
                <br />
                <h4>Přihlášené týmy</h4>
                <ul>
                    <li *ngFor="let r of division.rosters|order:['name']">
                        <a style="cursor:pointer;" (click)="r.hide = !r.hide">{{r.name}} {{r.mark|teammark}}</a> <span *ngIf='r.players'>({{r.players.length}})</span>
                        <span *ngIf='server.isAdminMenu()'><button (click)="roster(r)" class="btn btn-info btn-xs btn-tiny">upravit</button></span>
                        <ul [hidden]='r.hide' *ngIf='r.players'>
                            <li *ngFor="let player of r.players|order:['name']">{{player.name}}</li>
                        </ul>
                    </li>
                </ul>
                <div *ngIf='server.isAdminMenu()' class='col-xl-6'>
                    <div class="form-group">
                        <label for="addTeam">Přidat tým ručně jako správce</label>
                        <select id='addTeam' class='form-control' [(ngModel)]='addTeam'>
                            <option *ngFor='let team of teams|order:["name"]' value='{{team.id}}'>{{team.name}}</option>
                        </select>
                    </div>
                    <button (click)="roster(division,addTeam)" class="btn btn-success btn-with-icon"><i class="ion-plus"></i>Přidat tým</button>
                </div>
            </ba-card>
        </div>
    </div>
</div>
<!-- |player:id -->
