<div class="row">
    <div class='col-xl-6'>
        <ba-card title="{{teamMark}} - soupiska {{tournament.division_id|division}}" baCardClass="with-scroll">
            <alert type="success" dismissOnTimeout="5000" *ngIf='updated'>Soupiska aktualizována</alert>
            <div class='col-xl-6' [hidden]='!allowOpen'>
                <h4>Muži</h4>
                <div *ngFor='let player of players2roster|order:["last_name"]|sex:"male"' class='roster'>
                    <button (click)='remove(player)' class='btn btn-default btn-with-icon btn-xs'><i class='ion-trash-a'></i> {{player.id|player}} </button>
                </div>
            </div>
            <div class='col-xl-6'>
                <h4>Ženy</h4>
                <div *ngFor='let player of players2roster|order:["last_name"]|sex:"female"' class='roster'>
                    <button (click)='remove(player)' class='btn btn-default btn-with-icon btn-xs'><i class='ion-trash-a'></i> {{player.id|player}} </button>
                </div>
            </div>
            <div class='col-xl-12'>
                <div *ngIf='players2roster.length == 0'>Klik na jméno hráče v pravém sloupci přidá hráče do soupisky</div>
                <hr />
                <div class='text-left fl'>
                    <button title='Smazat tým z turnaje' [disabled]='sending' class='btn btn-danger btn-raised' (click)='delete()'>Smazat tým z turnaje <i [hidden]='!sending' class='fa fa-spin fa-circle-o-notch'></i></button>
                </div>
                <div class='text-right fr'>
                    <button [disabled]='sending || players2roster.length == 0' class='btn btn-success btn-raised' (click)='save()'>Uložit soupisku <i [hidden]='!sending' class='fa fa-spin fa-circle-o-notch'></i></button>
                </div>
            </div>
        </ba-card>
    </div>
    <div class='col-xl-6'>
        <ba-card title="Dostupní hráči" baCardClass="with-scroll">
            <div class='row'>
                <div class='col-xl-6'>
                    <div class="form-group">
                        <label for="selectedTeam">Hráči týmu</label>
                        <select id='selectedTeam' class='form-control' (change)="loadTeam()" [(ngModel)]='selectedTeam'>
                            <option *ngFor='let team of teams|order:["name"]' value='{{team.id}}'>{{team.name}}</option>
                        </select>
                    </div>
                </div>
                <div class='col-xl-6'>
                    <div class="form-group">
                        <label for="filterTeam">Hledat v týmu</label>
                        <input id='filterTeam' class='form-control' [(ngModel)]='queryTeam' placeholder="jméno (alespoň 3 znaky)" />
                    </div>
                </div>
            </div>
            <search type='roster'></search>
            Nového hráče přidej v detailu týmu
            <button class='btn btn-success btn-raised' (click)='teamDetail()'>Ulož a jdi na detail týmu</button>
            <hr />
            <div class='col-xl-6' [hidden]='!allowOpen'>
                <h4>Muži</h4>
                <div *ngIf='(availablePlayers|filterPlayers:queryTeam|order:["last_name"]|sex:"male").length == 0'>žádní hráči</div>
                <div *ngFor='let player of availablePlayers|filterPlayers:queryTeam|order:["last_name"]|sex:"male"' class='roster'>
                    <button (click)='add(player)' [disabled]='inRoster(player)' class='btn btn-default btn-with-icon btn-xs'><i class='ion-plus-circled'></i> {{player.id|player}} </button>
                </div>
            </div>
            <div class='col-xl-6'>
                <h4>Ženy</h4>
                <div *ngIf='(availablePlayers|filterPlayers:queryTeam|order:["last_name"]|sex:"female").length == 0'>žádní hráči</div>
                <div *ngFor='let player of availablePlayers|filterPlayers:queryTeam|order:["last_name"]|sex:"female"' class='roster'>
                    <button (click)='add(player)' [disabled]='inRoster(player)' class='btn btn-default btn-with-icon btn-xs'><i class='ion-plus-circled'></i> {{player.id|player}} </button>
                </div>
            </div>
        </ba-card>
    </div>
</div>
