<div class="row">
    <div class="col-xl-12">
        <ba-card title="Moje oddíly" baCardClass="with-scroll" *ngIf='myTeams && !server.isAdminMenu()'>
            <ul>
                <li *ngFor="let team of myTeams|order:['name']">
                    <a [routerLink]="['/app/teams',team.id]">{{team.name}}</a>
                </li>
            </ul>
        </ba-card>
        <ba-card title="Všechny oddíly" baCardClass="with-scroll" *ngIf='teams'>
            <ul>
                <li *ngFor="let team of teams|order:['name']">
                    <a [routerLink]="['/app/teams',team.id]">{{team.name}}</a>
                </li>
            </ul>
        </ba-card>
    </div>
</div>
