<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>ČALD evidence členů verze 2</h2>
    <h3>Zatím neimplementováno</h3>
    <ul>
      <li>Funkce pro vyžádání přestupu hráče. Zatím požadavky pište na email jiri.vosecek@cald.cz</li>
      <li>Filtr u tvorby soupisek na hráče aktivní v probíhající sezoně</li>
    </ul>
    <div *ngIf='tournaments.length == 0'>
      <p>Nablízku není žádný turnaj pro zadání soupisek</p>
    </div>
    <div *ngIf='showFee()'>
      <ba-card title="Poplatky za sezónu" baCardClass="with-scroll">
        <p>Kliknutím na tlačítko <b>Instrukce pro tým --název týmu--</b> nabídne ke stažení PDF s instrukcemi ke platbě.</p>
        <p>Bez zaplacených příspěvků za rok 2017 se nebude možné účastnit turnajů sezony 2018</p>
        <p>V seznamu jsou všichni členové vašeho Oddílu, kteří tuto sezonu hráli alespoň jeden ligový turnaj. Pokud některý hráč hrál pouze za jiný Oddíl, požádejte na jiri.vosecek@cald.cz o provedení Přestupu hráče k jinému oddílu</p>
        <p>Pokud jsou na seznamu hráči, u kterých lze požádat dle pravidel ČALDu (viz cald.cz) o prominutí poplatku za sezonu, požádejte o to na jiri.vosecek@cald.cz</p>
        <div class="form-group" style='max-width: 50%;'>
          <label for="fee_season_id">Vygenerovat přehled za sezonu {{server.getType("season",fee_season_id,"name")}}</label>
          <!-- <select class="form-control" [(ngModel)]='fee_season_id' id='fee_season_id'>
            <option *ngFor='let season of server.getType("season")|order:["-name"]' value='{{season.id}}'>{{season.name}}</option>
          </select> -->
        </div>
        <div *ngFor="let team of teams|order:['name']" style='margin-top: 1em;'>
          <button class="btn btn-success" (click)='getFee(team)'>Instrukce pro tým {{team.name}}</button>
        </div>
      </ba-card>
    </div>
    <div *ngFor="let tournament of tournaments|order:['-name']">
      <ba-card title="{{tournament.name}}" link='#/app/seasons/{{tournament.season_id|season}}/{{tournament.id}}' baCardClass="with-scroll">
        <p>{{tournament.location}}, {{tournament.date|date}}</p>
        <a href="#/app/seasons/{{tournament.season_id|season}}/{{tournament.id}}" class="btn btn-success btn-with-icon"><i class='ion-ios-download'></i>Soupisky v PDF</a>
        <div *ngFor='let division of tournament.divisions' style='margin-bottom: 1em;' [hidden]='server.isAdminMenu()'>
          <h3>{{division.division_id|division}}</h3>
          <div *ngFor='let team of division.rosters;let team_id = index;' style='display:inline;'>
            <div *ngFor='let r of team;let i = index;' style='display:inline;'>
              <button (click)="roster(r)" class="btn btn-info btn-with-icon"><i class="ion-edit"></i>{{r.team_id|team}} {{i|teammark}}</button>
            </div>
          </div>
          <div style='margin-top: .5em;'>
            <div *ngFor='let team of rights' style='display: inline;'>
              <button (click)="roster(division,team)" class="btn btn-success btn-with-icon"><i class="ion-plus"></i>Přidat tým {{team|team}}</button>
            </div>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
